@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.popIn {
  animation: popIn 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
}
