@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: 230 2521 246;
  --primary-sub: 193 246 235;
  --primary-200: 138 237 215;
  --primary-300: 84 228 197;
  --primary-400: 51 223 185;
  --primary-main: 0 200 150;
  --primary-600: 0 196 153;
  --primary-700: 0 153 119;
  --primary-800: 0 118 92;
  --primary-900: 0 90 71;

  --white: 255 255 255;
  --black: 0 0 0;

  --grey-50: 247 248 249;
  --grey-100: 230 230 230;
  --grey-200: 204 204 204;
  --grey-300: 179 179 179;
  --grey-400: 153 153 153;
  --grey-500: 128 128 128;
  --grey-600: 102 102 102;
  --grey-700: 77 77 77;
  --grey-800: 51 51 51;
  --grey-900: 26 26 26;

  --grey-600-sub: 90 90 90;

  --red-50: 253 234 234;
  --red-100: 250 189 189;
  --red-200: 248 157 157;
  --red-300: 244 113 112;
  --red-400: 242 85 85;
  --red-500: 239 43 42;
  --red-600: 217 39 38;
  --red-700: 170 31 30;
  --red-800: 131 24 23;
  --red-900: 100 18 18;

  --blue-50: 230 242 255;
  --blue-100: 178 215 254;
  --blue-200: 140 195 254;
  --blue-300: 88 168 254;
  --blue-400: 56 151 253;
  --blue-500: 6 125 253;
  --blue-600: 5 114 230;
  --blue-700: 4 89 180;
  --blue-800: 3 69 139;
  --blue-900: 3 53 106;
}
