@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: 230 255 247;
  --primary-100: 193 246 235;
  --primary-200: 138 237 215;
  --primary-300: 84 228 197;
  --primary-400: 0 200 150;
  --primary-500: 0 153 119;
  --primary-600: 0 118 92;

  --white: 255 255 255;
  --black: 24 31 41;

  --grey-50: 247 248 249;
  --grey-100: 193 246 235;
  --grey-200: 230 230 230;
  --grey-300: 204 204 204;
  --grey-400: 179 179 179;
  --grey-500: 153 153 153;
  --grey-600: 128 128 128;
  --grey-700: 77 77 77;

  --red-100: 253 234 234;
  --red-200: 248 157 157;
  --red-300: 244 83 83;
  --red-400: 239 43 42;
  --red-500: 217 39 38;

  --blue-100: 234 244 255;
  --blue-200: 140 195 254;
  --blue-300: 56 151 253;
  --blue-400: 0 104 231;

  --yellow-50: 252 249 233;
  --yellow-100: 255 220 64;
  --pink-50: 255 239 246;
  --pink-100: 241 162 197;
  --orange-50: 255 235 226;
  --orange-100: 244 137 83;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
