name: PR Title Check

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

permissions:
  pull-requests: write
  contents: read

jobs:
  check-pr-title:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build || exit 1

      - name: Debug Information
        run: |
          echo "PR Title: ${{ github.event.pull_request.title }}"
          echo "Event Name: ${{ github.event_name }}"
          echo "Action: ${{ github.event.action }}"

      - name: Check PR title
        uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            design
            fix
            hotfix
            comment
            docs
            style
            refactor
            perf
            test
            init
            build
            ci
            chore
            rename
            remove
            revert
          requireScope: false
          subjectPattern: ^[a-z].+$
          subjectPatternError: |
            The subject must start with a lowercase letter and not end with a period.
          wip: false
          validateSingleCommit: false